.Form {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-right: 20px;
  margin-left:20px;
}

.FriendSelection {
  margin-bottom: 80px;

}

.RankingSelection {
  margin-bottom: 100px;
  margin-down: 100px;

}
.ButtonSearch {
  background-color: #FFF8DC;
  color:#A0522D
}

.Options{
    background-color: #FFF8DC
}
