
@media only screen and (max-width: 600px){
  .nannyPhoto {
    border-radius: 10px;
    width: 100%;
  }

  .NannyView {
    margin: 2% 5% 2% 5%;
    text-align: "center";
  }
  .page__content h2 {
    margin-left: 30%;
    margin-bottom: 5%;
  }

  .nannyDescription {
    font-style: italic;
    margin:30px 0;
    text-align: center;
    margin-top: 8%;
    font-size: 20px;
  }
}
